<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amazing"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo180x180"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name="com.netease.amazing.activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity android:name="com.netease.amazing.activity.NoticeActivity" >
        </activity>
        <activity android:name="com.netease.amazing.activity.LoginActivity" 
            android:theme="@android:style/Theme.Holo.Light"
            android:logo="@drawable/titlebar_setting_bg">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.netease.amazing.activity.RegisterActivity" >
        </activity>
        <activity
            android:name="com.netease.amazing.activity.ContactInfoActivity"
            android:label="@string/title_activity_contact_teacher_info" >
        </activity>
        
        
        <!--添加Notice相关的activity  -->
        <activity android:name = "com.netease.amazing.activity.NoticeEditActivity"/>
        
        
        
        <!-- 添加News相关的activity -->
        <activity android:name = "com.netease.amazing.activity.NewsAddActivity"
            android:theme="@android:style/Theme.Holo.Light"/>
                <activity android:name = "com.netease.amazing.activity.NewsAddActivity1"
            />
        <activity android:name = "com.netease.amazing.activity.NewsPersonalIndexActivity"
            android:theme="@android:style/Theme.Holo.Light"/>
        
        
        <!-- 添加contact相关的activity -->
        <activity android:name = "com.netease.amazing.activity.ContactAddFriendActivity"/>
        <activity android:name = "com.netease.amazing.activity.SettingActivity">
            
        </activity>
        <activity android:name = "com.netease.amazing.activity.AboutUsButtonActivity"/>
        <activity android:name = "com.netease.amazing.activity.AccountSettingButtonActivity"/>
        <activity android:name = "com.netease.amazing.activity.DimCodeButtonActivity"/>
        <activity android:name = "com.netease.amazing.activity.SetUserInfoActivity"/>
        <activity android:name = "com.netease.amazing.activity.SystemSettingButtonActivity"/>
        <activity android:name = "com.netease.amazing.activity.ContactUsButtonActivity"/>
    </application>
	
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
